window {
  background-color: #1a1b26;
}

* {
  font-family: "Jetbrains Mono";
  color: #fff;
}

#scroll {
  padding: 0.5rem;
}

#input {
  background-color: #1a1b26;
  color: #c0caf5;
  outline: none;
  box-shadow: none;
  border: 2px solid #c0caf5;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  margin: 15px 15px 0;
  border-radius: 10px;
}

#inner-box {
  margin: 0.5rem;
  font-size: 1.25rem;
}

#img {
  margin: 5px 5px;
}

#entry {
  border-radius: 10px;
}

#entry:selected {
  background: linear-gradient(45deg, #33ccff, #00ff99);
  outline: none;
}

#text:selected {
  color: #1a1b26;
}